<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="test">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia ex earum voluptate amet! Fugit quae magni quia deleniti saepe enim quam corporis quo assumenda dolores vel ipsam quisquam, quis debitis.</p>
</body>

    
    <a href="https://c8.alamy.com/comp/TA350F/mahatma-gandhi-speaks-with-his-supporters-before-the-india-round-table-conference-gandhi-was-nominated-several-times-for-the-nobel-peace-prize-during-his-lifetime-TA350F.jpg" download >
        <button>download</button>
        <!-- <img src="https://c8.alamy.com/comp/TA350F/mahatma-gandhi-speaks-with-his-supporters-before-the-india-round-table-conference-gandhi-was-nominated-several-times-for-the-nobel-peace-prize-during-his-lifetime-TA350F.jpg" alt=""> -->
    </a>
    

</html>